.elements__block {
    background-color: #fff;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px 20px 25px 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}